.card-header {
  font-weight: 600;
}

.bslib-sidebar-layout > .sidebar {
  background-color: #FAFAFA;
}

.btn-secondary {
  background-color: #264653;
  border-color: #264653;
}

.btn-secondary:hover {
  background-color: #1f3a44;
  border-color: #1f3a44;
}
